@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
    letter-spacing: -0.02em;
    
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("assets/blurry-gradient-haikei.svg") center / cover no-repeat
    ;

    color: white;

}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;

    background: linear-gradient(to right, black, #31175dc7, black);
    border-bottom: 4px solid #7c3aed;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    box-sizing: border-box;
}

main{
    margin: 100px 80px;
}

.logo-box{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-box span{
    color: #7c3aed;
    filter: drop-shadow(0 0 5px #7c3aed);
}

.header-nav{
    display: flex;
    gap: 20px;
}

.header-link{
    color: white;
    text-decoration: none;
    transition: all .2s ease;
    filter: drop-shadow(0 0 8px #5a28b0);
}

.header-link:hover{
    color: #7c3aed;
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px #7c3aed) drop-shadow(0 0 10px #7c3aed);
}

.header-link:visited{
    text-decoration: none;
}

.icons-btn{
    display: flex;
    gap: 25px;
}

.icons-btn a i{
    color: white;
    font-size: 22px;
    transition: all 0.2s ease;
    filter: drop-shadow(0 0 8px #5a28b0);
}

.icons-btn a i:hover{
    color: #7c3aed;
    filter: drop-shadow(0 0 15px #7c3aed) drop-shadow(0 0 10px #7c3aed);
    transform: scale(1.1);
}

#my-projects{
    max-width: 100%;
}

.mpj-box1{
    margin-top: 80px;
    margin-right: 40px;
    gap: 40px;
    display: flex;
    justify-content: center;
}

.mpj-box1 img{
    height: 300px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(124, 58, 237, 0.9);
    border: 1px solid #7c3aed;
}

#about-me{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 100px 0;

    scroll-margin-top:150px;
}

#about-me img{
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(124, 58, 237, 0.9);
    border: 1px solid #7c3aed;
}

.about-me-box{
    margin: 0 40px;
}

.about-me-box p{
    font-size: 20px;
}

#description-projects{
    font-size: 20px;
}

.title-section{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #7c3aed;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}

.divider {
  height: 1px;
  background: linear-gradient(to right, transparent, #7c3aed, transparent);
  margin-bottom:80px;
}

#box-projects{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    margin: 70px 80px 0px 0px;
}

.card{
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.01)),
        url("assets/blurry-gradient-haikei.png") center / cover no-repeat;
    border: 1px solid #7c3aed;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(124, 58, 237, 0.5);

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px;
    margin-bottom: 100px;
    gap: 20px;

    transition: all .2s ease;
}

.card:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 0 25px rgb(139, 71, 255);
}

.card p{
    margin: 0;
    font-size: 15px;
    text-align: center;
}

.card h3{
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #7c3aed;
    text-underline-offset: 5px;

}

.card a{
    color: white;
    text-decoration: none;
    background: #7c3aed;
    border-radius: 16px;
    padding: 10px;
    font-size: 15px;
}


.card a:visited{
    text-decoration: none;
}

.mpj-box1{
    display: flex;
}


.card-skills{
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.01)),
        url("assets/blurry-gradient-haikei.png") center / cover no-repeat;
    border: 1px solid #7c3aed;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(124, 58, 237, 0.5);
    width: 300px;

    transition: all .2s ease;

}

.card-skills:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 0 25px rgb(139, 71, 255);
}

.card-skills h3{
    display: flex;
    justify-content: center;

    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #7c3aed;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}

.icons-skills{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
    gap: 40px;
}

.table-skills{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 80px;
}

#html-logo{
    filter: drop-shadow(0 0 8px #fb923caa);
    transition: all .2s ease;
}

#html-logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px #fb923c);
}

#css-logo{
    filter: drop-shadow(0 0 8px #38bdf8aa);
    transition: all .2s ease;
}

#css-logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px #38bdf8);
}

#js-logo{
    filter: drop-shadow(0 0 8px #facc15aa);
    transition: all .2s ease;
}

#js-logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px #facc15);
}

#python-logo{
    filter: drop-shadow(0 0 10px #FFD43Baa);
    transition: all .2s ease;
}

#python-logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px #FFD43B);
}

#windows-logo{
    filter: drop-shadow(0 0 8px #3EA6FFaa);
    transition: all .2s ease;
}

#windows-logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #65b5fb);
}

#linux-logo{
    filter:drop-shadow(0 0 8px #ffffaa);
    transition: all .2s ease;
}

#linux-logo:hover{
    transform: scale(1.1);
    filter:drop-shadow(0 0 10px #ffff);
}
